:host {
  display: block;
  color: var(--color-scope, white);
  transition: color 0.3s;
  margin: initial;
}

:host(h1),
:host([large]) {
  font-size: 24px;
  font-weight: 700;
}

:host(h2) {
  font-size: 24px;
  font-weight: 700;
}

:host(h3) {
  font-size: 21px;
  font-weight: 700;
}

:host(h4) {
  font-size: 16px;
  font-weight: 700;
}
