:host {
  text-decoration: initial;
  font-size: 16px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  transition: color 0.3s;
}

:host(:has(h1)) {
  width: 100%;
}

:host(:not(:first-child)) {
  padding-left: 16px;
}

:host(:not(:last-child)) {
  padding-right: 16px;
}

:host:hover,
:host([aria-current="page"]) {
  color: rgb(63, 131, 248);
}
