<section *ngIf="weightState.isReady">
  <app-heading class="weight">
    Weight<app-badge>{{ todayWeight || "-" }}</app-badge>
  </app-heading>

  <app-button-group
    ><button
      *ngFor="let period of periods"
      type="button"
      (click)="selectPeriod(period)"
      [ariaPressed]="selectedPeriod === period"
    >
      {{ period.label }}
    </button>
  </app-button-group>

  <div echarts [options]="chartOptions" [initOpts]="initOpts"></div>
</section>

<app-loader *ngIf="weightState.isLoading"></app-loader>
