<section *ngIf="$vm | async as vm">
  <div class="chart-wrapper">
    <div
      role="img"
      class="chart"
      echarts
      [options]="vm.chartOptions"
      [initOpts]="initOpts"
    ></div>
  </div>
  <article>
    <h2 app-text>Weight</h2>
    <p app-heading large>
      {{ vm.todayWeight?.weight | measurementWithUnit : "kg" }}
    </p>
    <p
      app-text
      [app-text-type]="vm.diff?.weight | percentageDiffColor : 'inverse'"
    >
      {{ vm.diff?.weight | percentageDiff }}
    </p>
  </article>
  <article>
    <h2 app-text>Body fat</h2>
    <p app-heading large>
      {{ vm.todayWeight?.fatMassWeight | measurementWithUnit : "kg" }}
    </p>
    <p
      app-text
      [app-text-type]="vm.diff?.fatMassWeight | percentageDiffColor : 'inverse'"
    >
      {{ vm.diff?.fatMassWeight | percentageDiff }}
    </p>
  </article>
  <article>
    <h2 app-text>Fat ratio</h2>
    <p app-heading large>
      {{ vm.todayWeight?.fatRatio | measurementWithUnit : "%" }}
    </p>
    <p
      app-text
      [app-text-type]="vm.diff?.fatRatio | percentageDiffColor : 'inverse'"
    >
      {{ vm.diff?.fatRatio | percentageDiff }}
    </p>
  </article>
</section>

<!-- <div
  role="alert"
  aria-busy="true"
  app-loader
  *ngIf="weightState.isLoading"
></div> -->
