section {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  align-items: center;
}

section > * {
  display: grid;
  gap: 4px;
}

.chart-wrapper {
  aspect-ratio: 1;
  min-width: 100px;
  max-width: 180px;
  position: relative;
}

.chart {
  position: absolute;
  inset: 0;
}
