<header app-header>
  <nav>
    <a app-header-menu routerLink="/"><h1 app-heading>W6</h1></a>
    <a
      app-header-menu
      [routerLink]="routerTokens.WEEK"
      routerLinkActive
      ariaCurrentWhenActive="page"
      >Week</a
    >
    <a
      app-header-menu
      [routerLink]="routerTokens.MONTH"
      routerLinkActive
      ariaCurrentWhenActive="page"
      >Month</a
    >
    <a
      app-header-menu
      [routerLink]="routerTokens.YEAR"
      routerLinkActive
      ariaCurrentWhenActive="page"
      >Year</a
    >
    <a
      app-header-menu
      [routerLink]="routerTokens.ALL_TIME"
      routerLinkActive
      ariaCurrentWhenActive="page"
      >All time</a
    >
  </nav>
</header>
<main app-main>
  <a app-badge href="/db" *ngIf="backupService.$lastBackupTime | async as lastBackupTime" class="lastBackup"
    >Last backup {{ lastBackupTime | relativeTime }}</a
  >
  <section class="main">
    <router-outlet></router-outlet>
  </section>
</main>
<ul app-notifications></ul>
