<header app-header>
  <nav>
    <a app-header-menu routerLink="/" routerLinkActive="active"><h1 app-heading>W6</h1></a>
    <a app-header-menu routerLink="/week" routerLinkActive="active">Week</a>
    <a app-header-menu routerLink="/month" routerLinkActive="active">Month</a>
    <a app-header-menu routerLink="/year" routerLinkActive="active">Year</a>
    <a app-header-menu routerLink="/all-time" routerLinkActive="active">All time</a>
  </nav>
</header>
<main app-main>
  <a app-badge href="/db" *ngIf="lastNackupState.isReady" class="lastBackup"
    >Last backup {{ lastNackupState.value.time | relativeTime }}</a
  >
  <section class="main">
    <router-outlet *ngIf="syncState.isReady"></router-outlet>
    <div
      role="alert"
      aria-busy="true"
      app-loader
      *ngIf="syncState.isLoading"
    ></div>
  </section>
</main>
<ul app-notifications></ul>
