<header app-header>
  <nav>
    <a app-header-menu href="/"><h1 app-heading>W6</h1></a>
    <a app-header-menu href="/">Week</a>
    <a app-header-menu href="/month">Month</a>
    <a app-header-menu href="/year">Year</a>
    <a app-header-menu href="/all-time">All time</a>
  </nav>
</header>
<main app-main>
  <a app-badge href="/db" *ngIf="lastNackupState.isReady" class="lastBackup"
    >Last backup {{ lastNackupState.value.time | relativeTime }}</a
  >
  <section class="main">
    <app-weight *ngIf="syncState.isReady"></app-weight>
    <div
      role="alert"
      aria-busy="true"
      app-loader
      *ngIf="syncState.isLoading"
    ></div>
  </section>
</main>
<ul app-notifications></ul>
