main {
  display: grid;
  margin: 14px 0;
}

.main {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  padding: 20px 0;
}

.lastBackup {
  justify-self: flex-end;
  gap: 8px;
}
