:host {
  color: hsl(218, 11%, 65%);
  font-family: system-ui;
  font-size: 14px;
  font-weight: initial;
  margin: initial;
}

:host([app-text-type="green"]) {
  color: hsl(111, 32%, 66%);
}

:host([app-text-type="red"]) {
  color: hsl(0, 91%, 74%);
}

:host([app-text-type="white"]) {
  color: hsl(216, 12%, 84%);
}

:host([app-text-type="blue"]) {
  color: hsl(217, 93%, 72%);
}
